h1,h3 {
    text-align:center;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}


body {
    background-image: url("../img/simpleback.jpg");
}

#banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#menu {
    width: 100%;
   /* background-color: #FFD2CE; */
}

table, td, th {
    border: solid 2px black;
}

td {
    padding: 5px;
}

tr:hover{background-color:#F6EAEB}